<footer class="footer ">
  <div class="container pt-1 pb-3">
    <div class="row">
      <div class="col-12 col-md-auto small">
        <p class="fw-bold  py-1 my-1">Centro de atención y enseñanza psicoanalítica México</p>
        <a class="text-dark" target="_blank" href="https://goo.gl/maps/YwwT9CF4hhfXyudT6"> <i class="bi bi-geo-alt"></i> Ahuatepec 13, Lomas de Cristo, 56225 Méx.</a>
       
      </div>
      <div class="col-12 col-md  text-start text-md-end small">
        <p class="fw-bold py-1 my-1" >Contacto</p>
        <a class="text-dark pr-2 "  href="tel:55-3145-3808"> <i class="bi bi-telephone"></i> 55 3145 3808</a>
        <a class="text-dark "  href="mailto:caep.internacional@gmail.com"> <i class="bi bi-envelope"></i> caep.internacional@gmail.com</a>
      </div>
     
    </div>
  </div>
</footer>
